.font-16
{
    font-size: 16p;
}
.font-14{
    font-size:14p;
}
.font-24{
    font-size:24;

}
.header-font{
    color: rgb(0, 235, 217);
    font-weight: 600;
}
#under-video{
    text-align: center;
}
