body
{
    font-family: 'Encode Sans'!important;
    
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.row-1
{
    background-image: url("img/bg-inchis.png");
    box-shadow: 1px 1px 1px 1px #000000;
    margin-bottom: 0.5px;
}
.row-2
{
  background: url(img/bg-deschis.png); 
   
}
.row-2::before{
  

 
}



.mr-5v2
{
  margin-right:6rem;
}

.ml-5v2{
  margin-left:6rem;
}
#eroi-div{
  text-align: right;
}
#eroi{

}


}